/*
Creator:  Varsha Shivaji Auti
Date created: 12/11/2019
Date last modified: 
*/

body {
    background-color: #fef9ff;
    font-family: arial, helvetica, sans-serif;
    color: #0d1f2d;
	max-width: 900px;
	margin: 0 auto;
	
}

header , footer {
    background-color: #5b7d87;
    color: #fef9ff;
	height: 100px;
	text-align: center;
	padding: 30px 10px 20px 10px;
}

h1{
	font-size: 2.5em;
}

nav {
    border-top: 3px dashed #546a7b;
    border-bottom: 3px dashed #546a7b;
	margin-top: 4px;
}

.clear-float{
	clear: both;
}

article img {
   float: left;
}

.right-content {
    float: left;
}

article {
    margin-bottom: 16px;
}

nav a{
	background-color: #5b7d87;
	color: #fef9ff;
	padding: 8px;
	border: thin solid #0d1f2d;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 20px;
	width: 100px;
	float: left;
}

nav a:visited {
    color: #e4c3ad; 
}

nav a:hover{
	background-color: #fef9ff;
	color: #5b7d87;
}

nav a:active{
	font-weight: bold;
}


